html {
  --button-color: red;
  --border-radius: 3px;
  --background-color: white;
  --box-shadow: #000b 2px 2px 5px;
  --button-text: white;
  --text-color: #000;
}

img.logo {
  height: 2.5em;
}

a,
a:visited {
  color: var(--text-color);
  text-decoration: none;
}
.filterPanel {
  position: sticky;
  background: white;
}

.filterPanel {
  background: var(--background-color);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}

body {
  margin: 0;
}

.filterPanel {
  top: 0;
}

#filterForm {
  display: flex;
}

.formField {
  display: flex;
  flex-direction: column;
}

.button,
.button:visited {
  border: none;
  background: var(--button-color);
  padding: 0.6em 2.2em;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-transform: uppercase;
  cursor: pointer;
  color: var(--button-text);
  font-weight: bold;
}

#filterForm {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.formField {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.filterPanel {
  padding-bottom: 0.3em;
  padding-top: 0.3em;
}

.select2.select2-container {
  min-width: 8em;
}

@media (min-width: 620px) {
  #toggleButton {
    display: none;
  }
}

.filterPanel {
  display: flex;
  flex-direction: column;
}

#toggleButton {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

#filterForm.hidden {
  display: none;
}

.eventImage img {
  width: 100%;
}

.event {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.eventDescription {
  flex: 0 1 30em;
}

.eventImage {
  flex: 1 1 auto;
  max-width: 600px;
}

.event {
  /* justify-content: space-around; */
  justify-content: space-between;
}

body {
  background-color: var(--body-background-color);
}

.event {
  background: var(--background-color);
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

#eventList {
  padding-left: 1em;
  padding-right: 1em;
}

.eventDescription {
  padding-left: 2vw;
}

.eventImage {
  /* max-width: 600px; */
  max-width: 530px;
}

/* style.css | http://127.0.0.1:8000/static/style.css */

html {
  --body-background-color: red;
}

.eventImage img {
  border-radius: var(--border-radius);
}

/* Inline #8 | http://127.0.0.1:8000/ */

h2 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  text-decoration: underline;
}

.event-time {
  font-weight: bold;
  line-height: 1.6em;
}

.event-address a {
  text-decoration: underline;
  line-height: 1.6em;
}

.event-link a {
  text-decoration: underline;
}

.event .button {
  display: inline;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.eventDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.eventImage {
  max-width: 550px;
}

#nextPage {
  background: black;
  font-size: 1.2em;
  margin-bottom: 2em;
  margin-top: 1em;
}

#eventList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event.detail {
  margin: 1em;
  min-height: 80vh;
}

.shareButtons {
  margin-top: 2em;

  margin-bottom: 2em;
}

h1 {
  font-size: 1.2em;
  margin-right: 1em;
  margin-bottom: 0;
  margin-top: 0;
}

.eventImage {
  display: flex;
  flex-direction: column;
}

.shareButtons {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}

.shareButtons .button {
  margin: 0.2em;
}

.page {
  max-width: 1580px;
  width: 100%;
}
