{% extends 'registration/base.html' %}
{% load crispy_forms_tags i18n %}

{% block content %}
<form method="post">
  {% include 'registration/form.html' with form=form%}
  <div class="buttons">
    <button type="submit">{% trans 'Log in' %}</button>
  </div>
</form>
{% endblock %}
