{% load static %}
<!DOCTYPE html>
<html lang="{{request.LANGUAGE_CODE}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}" >
    {% block styles %}
    {% endblock %}
  </head>
    <body>
      <aside id="sidePanel" data-open="true">
        {% include 'dashboard/side_panel.html' %}
      </aside>

      <div class="container">
        <main id="pageContent" data-title="{% block title %}{{title}}{% endblock %}">
          <header class="topBar">
            <div class="breadcrumbs">
              {% block breadcrumbs %}
              {% endblock %}
            </div>
            <div class="actionGroup">
              {% block actions %}
              {% endblock %}
            </div>
          </header>
          <div class="messages">
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %} onclick="this.remove()">{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          {% block page_content %}
          <!--- Here comes the content of the page -->
          {% endblock %}
        </main>
        <section id="appBar">
          <button id="menuToggle" type="button">
            <i data-feather="menu"></i>
          </button>
          <section id="appList">
            {% for app in applications %}
            <a title="{{app.description | safe}}" class="appLink" target="_blank" href="{{app.url}}"><img class="appImage" src="{{app.image.url}}" /> <span>{{app.name}}</span></a>
            {% endfor %}
          </section>
          <!--- Button for opening and closing the navigation + list of apps-->
        </section>
      </div>
      <script src="https://unpkg.com/htmx.org@1.2.1" integrity="sha384-t37OW0DbqgL50XZW+Tl8TLchxsPoxIJ7NQ/l4aSZIXZVJQAhyQvvkWZgL/SiY/jD" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
      <script src="{% static 'dashboard/dashboard.js' %}"></script>
      {% block scripts %}
      {% endblock %}
    </body>
</html>
