{% extends 'dashboard/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Home' %}{% endblock %}


{% block page_content %}

<h2>{% trans 'Your Tasks' %}</h2>

<h2>{% trans 'Apps' %}</h2>

{% endblock %}
