{% extends 'dashboard/base.html' %}

{% block page_content %}
<div class="content_head">
  <section id="breadcrumbs">
    {% block breadcrumbs %}{% endblock %}
  </section>
  <section id="quickActions">
  </section>
</div>
<div class="content">
  <h1>{% block title %}{% endblock %}</h1>
  {% block content %}{% endblock %}
</div>
{% endblock %}
