{% load i18n static %}
<header>
  <img src="{% static 'logo.png' %}" alt="Logo" />
</header>
<nav id="mainNav">
  <a href="{% url 'dashboard:home' %}"><i data-feather="home"></i> {% trans 'Home' %}</a>
  <a href="{% url 'events:event_list' %}"><i data-feather="calendar"></i> {% trans 'Events' %}</a>
  <a href="{% url 'tasks:task_list' %}"><i data-feather="check"></i> {% trans 'Tasks' %}</a>
  <a href="{% url 'news:newsitem_list' %}"><i data-feather="globe"></i> {% trans 'News' %}</a>
</nav>
