body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="url"],
.field-wrapper .select2-container {
  box-sizing: border-box;
  max-width: 100%;
  min-width: 0;
  width: 100%;
}

.fields {
  max-width: 840px;
}

.django-ckeditor-widget {
  display: inline-block;
  overflow-x: scroll;
  max-width: 100%;
}

.field-wrapper .select2-container {
  width: 100% !important;
}

#sidePanel {
  overflow: hidden;
  flex: 0 0 0;
  transition: flex 200ms ease;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 0px 5px;
}

#sidePanel[data-open="true"] {
  flex: 0 0 13em;
}

#mainNav {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-left: 1em;
}

#mainNav a {
  display: flex;
  align-items: center;
  margin: 0.5em 1em 1em 0.5em;
}

#mainNav svg,
#mainNav i[data-feather] {
  margin-right: 1em;
  min-width: 1.5em;
}

.container {
  flex: 1 1 auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
}

main {
  flex: 1 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 1em;
  padding-right: 1em;
  height: 20em;
  box-sizing: border-box;
}

#appBar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 0px 5px;
  flex: 0 0 auto;
  background: black;
}

#appList {
  flex: 1 0 auto;
}

#menuToggle {
  border-radius: 0px;
  background: white;
}
#sidePanel header img {
  width: 10em;
  margin-top: 1em;
}

#sidePanel header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}

#appList {
  display: flex;
  align-content: stretch;
  margin-left: 1em;
}

.appLink {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
  margin-left: 0.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  text-decoration: none;
}

.appLink span {
  color: white;
}

.appImage {
  height: 32px;
  margin-right: 0.3em;
}

.eventActions {
  display: flex;
}

/* Inline #3 | http://127.0.0.1:8000/app/events/17/ */

.buttonGroup {
  display: flex;
}

.buttonGroup .button {
  margin: 0em 0.2em 0.3em 0.2em;
}

.button {
  --background: black;
  --color: white;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  vertical-align: bottom;
  line-height: 1.2rem;
  background: var(--background);
  color: var(--color);
  padding: 0.3em 1.2em 0.3em 1.2em;
  cursor: pointer;
  box-shadow: #000d 1px -1px 4px;
  font-size: 0.8rem;
  text-align: center;
}

.button svg,
.button i {
  height: 1em;
  width: 1em;
}
.fields {
  margin-bottom: 0.8em;
}

.breadcrumbs {
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 0.5em;
}

.topBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.actionGroup {
  display: flex;
}

.topBar {
  align-content: center;
}

.breadcrumbs {
  /* margin-top: auto; */
  margin-top: 1em;
}

.actionGroup {
  align-content: center;
  align-items: center;
}

.text {
  max-width: 42em;
}
.success {
  list-style: none;
  background: blanchedalmond;
  border: solid black 1px;
  font-size: 0.8rem;
}

ul.messages {
  padding-left: 0;
}

iframe.chat {
  width: 100%;
  height: 40em;
}

.internal {
  display: flex;
  flex-direction: column-reverse;
}

.internal > .chat,
.internal > .notes {
  flex: 1 1 50%;
}

#eventList {
  margin-bottom: 3em;
}

@media (min-width: 576px) {
  #sidePanel[data-open="true"] + .container {
    max-width: calc(100vw - 13em);
    min-width: calc(100vw - 13em);
  }

  .internal {
    flex-direction: row;
  }
  .notes {
    margin-left: 2em;
  }
}

.shareInfo {
  display: flex;
  align-items: stretch;
}

/* Element | http://127.0.0.1:8000/app/events/19/ */

.shareButtons {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* Inline #6 | http://127.0.0.1:8000/app/events/19/ */

.shareButtons .button {
  margin: 0.3em;
}

/* Element | http://127.0.0.1:8000/app/events/19/ */

.copyLink > label:nth-child(2) {
  font-size: 0.8em;
}

.firepad {
  min-height: 30em;
}

#filterForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formField {
  display: flex;
  flex-direction: column;
}

.select2.select2-container {
  min-width: 8em;
}
