{% extends 'dashboard/base.html' %} {% load i18n l10n %}

{% block title %}{{task.title}}{% endblock %}


{% block breadcrumbs %}
<a href="{% url 'tasks:task_list' %}">{% trans 'Tasks' %}</a> / <a href="{% url 'tasks:task_detail' task.pk %}">{{task.title}}</a>
{% endblock %}
