{% extends 'dashboard/base.html' %}
{% load i18n l10n %}

{% block title %}{% trans 'Tasks' %}{% endblock %}

{% block breadcrumbs %}
<a href="{% url 'tasks:task_list' %}">{% trans 'Tasks' %}</a>
{% endblock %}

{% block page_content %}
<form method="get" id="filterForm" action="">
  {% for field in filter_form %}
  <div class="formField">
    <label>{{ field.label }}</label>
    {{ field }}
  </div>
  {% endfor %}
  <button type="submit">Los</button>
</form>

<article id="eventList" class="tasks">
  <table class="taskTable">
    <thead>
      <th>
        <td>
          {% trans 'Title' %}
        </td>
        <td>
          {% trans 'Created' %}
        </td>
        <td>
          {% trans 'Deadline' %}
        </td>
        <td>
          {% trans 'Topics' %}
        </td>
      </th>
    </thead>
    <tbody>
      {% for task in task_list %}
      <tr>
        <td><a href="{% url 'tasks:task_detail' task.id %}">{{task.title}}</a></td>
        <td>{{task.created_at}}</td>
        <td>{{task.deadline}}</td>
        <td>{{task.topic_list}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</article>
<hx-get="?{{querystring}}" hx-swap="afterend" hx-target="#page{{page_obj.number}}"  hx-select="#page{{page_obj.number|add:1}}" hx-swap-oob="true" id="nextPage" hx-trigger="click once">

{% endblock %}
