{% extends "dashboard/base.html" %}
{% load i18n l10n %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />
<link rel="stylesheet" href="https://firepad.io/releases/v1.5.10/firepad.css" />

<style>
#notePad {
  height: 100%;
  min-height: 30em;
}
.firepad {
  width: 100%;
  height: 100%;
  background-color: #000; 
  border: solid black 1px;
}

.powered-by-firepad {
  display: none;
}
</style>
{% endblock %}


{% block breadcrumbs %}
<a href="{% url 'events:event_list' %}">{% trans 'Events' %}</a> / {{event.title}}
{% endblock %}

{% block actions %}
<form action="{% url 'events:event_delete' event.pk %}" method="post" onsubmit="return confirm('{% trans 'Are you sure you want to delete this event?' %}')">
  {% csrf_token %}
  <button class="button delete">
    <i data-feather="trash"></i>
    {% trans 'Delete' %}
  </button>
</form>
{% if can_edit %}
<a class="button update"  href="{% url 'events:event_update' event.pk %}">
  <i data-feather="edit"></i>
  {% trans 'Update' %}
</a>
{% if perms.events.publish_event %}
{% if event.state != event.PUBLISHED %}
<button class="button publish" hx-post="{% url 'events:event_action' event.pk %}?action=publish" hx-headers='{"X-CSRFToken": "{{csrf_token}}"}' hx-target="#pageContent" hx-swap="outerHTML" hx-select="#pageContent">
  <i data-feather="check"></i>
  {% trans 'Publish' %}
</button>
{% else %}
<button class="button unpublish" hx-post="{% url 'events:event_action' event.pk %}?action=unpublish" hx-headers='{"X-CSRFToken": "{{csrf_token}}"}' hx-target="#pageContent" hx-swap="outerHTML" hx-select="#pageContent">
  <i data-feather="x"></i>
  {% trans 'Unpublish' %}
</button>
{% endif %}
{% endif %}
{% else %}
<button class="button access" hx-post="{% url 'events:event_action' event.pk %}?action=access" hx-headers='{"X-CSRFToken": "{{csrf_token}}"}' hx-target="#pageContent" hx-swap="outerHTML" hx-select="#pageContent">
  <i data-feather="x"></i>
  {% trans 'Request access' %}
</button>
{% endif %}
{% endblock %}

{% block page_content %}

<article class="eventDetail">
  {% if can_edit and access_requests %}
  {% for access_request in access_requests %}
  <div class="accessRequest">
    <span class="accessName">{{access_request.user.get_full_name}}</span>
    <div class="accesActions">
      <button class="button access" hx-post="{% url 'events:event_action' event.pk %}?action=accept" hx-headers='{"X-CSRFToken": "{{csrf_token}}"}' hx-target="#pageContent" hx-swap="outerHTML" hx-select="#pageContent" hx-vals='{"access_request": "{{access_request.pk}}"}'>
        <i data-feather="x"></i>
        {% trans 'Accept' %}
      </button>
      <button class="button access" hx-post="{% url 'events:event_action' event.pk %}?action=decline" hx-headers='{"X-CSRFToken": "{{csrf_token}}"}' hx-target="#pageContent" hx-swap="outerHTML" hx-select="#pageContent" hx-vals='{"access_request": "{{access_request.pk}}"}'>
        {% trans 'Delete' %}</button>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  <div class="event-info">

  <div class="event-time">
    <time datetime="{{event.start_date|date:"c"}}">{{event.start_date}}</time> - <time datetime="{{event.end_date|date:"c"}}">{{event.end_date}}</time>
  </div>
    {% if event.address %}
    <div class="event-address">
      <a href="https://www.google.com/maps/search/?api=1&query={{event.address.latitude|unlocalize}},{{event.address.longitude|unlocalize}}" target="_blank">
        {{event.address}}
      </a>
    </div>
    {% endif %}

    {% if event.url %}
    <div class="event-link">
      <a href="{{event.url}}" target="_blank">{{event.url|truncatechars:40}}</a>
    </div>
    {% endif %}
  </div>

  <div class="text">
    {{event.description | safe}}
  </div>

    <a href="{% url 'external_events:event_detail' event.pk %}" target="_blank">{% trans 'View on Site' %}</a>

  <div class="shareInfo">
    <div class="copyLink">
      <label for="event_url">{% trans 'click to copy' %}</label>
      <input type="text" value="{{request.scheme}}://{{request.get_host}}{% url 'external_events:event_detail' event.pk %}" onclick="this.select();document.execCommand('copy');" readonly id="event_url"/>
    </div>
  </div>

  <section class="internal">
    {% if event.rocket_chat %}
    <div class="chat">
      <h2><a href="{{event.chat_link}}" target="_blank">{% trans 'Chat' %}</a></h2>
      <iframe id="rocket-{{event.rocket_chat}}"  class="chat" src="{{event.chat_link}}?layout=embedded"></iframe>
    </div>
    {% endif %}
    <div class="notes">
      <h2>{% trans 'Internal notes' %}</h2>
      <div id="notePad"></div>
    </div>
  </section>
</article>

{% endblock %}

{% block scripts %}
<script src="https://www.gstatic.com/firebasejs/7.6.2/firebase.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
<script src="https://firepad.io/releases/v1.5.10/firepad.min.js"></script>
<script>
  function init() {
      var firebaseConfig = {
          apiKey: "AIzaSyCB0O2rIAPRN-Dk2Z5-MvhAB-tzaY4EJuU",
          authDomain: "initiative-99.firebaseapp.com",
          projectId: "initiative-99",
          databaseURL: "https://initiative-99.firebaseio.com",
          storageBucket: "initiative-99.appspot.com",
          messagingSenderId: "572830274278",
          appId: "1:572830274278:web:27b63965385f3257b02127"
        };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);

      // Get Firebase Database reference.
      var firepadRef = firebase.database().ref('events/{{event.internal_id}}');

      // Create CodeMirror (with lineWrapping on).
      var codeMirror = CodeMirror(document.getElementById('notePad'), { lineWrapping: true });

      // Create Firepad (with rich text toolbar and shortcuts enabled).
      var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror, {
          richTextShortcuts: false,
          richTextToolbar: true,
          defaultText: 'Hier hat es Platz für Notizen.',
          // userId: "{{request.user.pk}}",
        });
    }

    window.addEventListener("load", init);
</script>
{% endblock %}
