{% extends 'dashboard/base.html' %}
{% load i18n %}

{% block breadcrumbs %}
{% if form.instance.pk %}
<a href="{% url 'events:event_list' %}">{% trans 'Events' %}</a> / <a href="{% url 'events:event_detail' event.pk %}">{{event.title}}</a> / {% trans 'Update' %}
{% else %}
<a href="{% url 'events:event_list' %}">{% trans 'Events' %}</a> / {% trans 'Create' %}
{% endif %}
{% endblock %}

{% block page_content %}
<form method="post" hx-push-url="false" enctype="multipart/form-data">
  {% include 'registration/form.html' %}
  <button type="submit" class="button">
    {% if form.instance.pk %}
    {% trans 'Update' %}
    {% else %}
    {% trans 'Create' %}
    {% endif %}
  </button>
</form>
{{form.media}}
{% endblock %}
