{% extends 'dashboard/base.html' %}
{% load i18n l10n %}

{% block title %}{% trans 'Events' %}{% endblock %}

{% block breadcrumbs %}
<a href="{% url 'events:event_list' %}">{% trans 'Events' %}</a>
{% endblock %}

{% block actions %}
<a class="button" href="{% url 'events:event_create' %}">{% trans 'Create' %}</a>
{% endblock %}

{% block page_content %}
<form method="get" id="filterForm" action="">
  {% for field in filter_form %}
  <div class="formField">
    <label>{{ field.label }}</label>
    {{ field }}
  </div>
  {% endfor %}
  <button type="submit">Los</button>
</form>
<article id="eventList" class="events">
  <div  id="page{{page_obj.number}}">
    {% for event in event_list %}
    <section >
      <h2>
        <a href="{{event.get_absolute_url}}" >{{event.title}}</a>
      </h2>
      <div class="event-info">
        <div class="event-time">
          {{event.start_date}} - {{event.end_date}}
        </div>
        {% if event.address %}
        <div class="event-address">
          <a href="https://www.google.com/maps/search/?api=1&query={{event.address.latitude|unlocalize}},{{event.address.longitude|unlocalize}}" target="_blank">
            {{event.address}}
          </a>
        </div>
        {% endif %}
        {% if event.url %}
        <div class="event-link">
          <a href="{{event.url}}" target="_blank">{{event.url|truncatechars:40}}</a>
        </div>
        {% endif %}
      </div>
      <div class="event-content">
        {{event.description | safe | truncatechars_html:240}}
      </div>
    </section>
    {% endfor %}

  </div>
  {% if page_obj.has_next %}
  <button onclick="this.blur()" hx-get="?{{querystring}}" hx-swap="afterend" hx-target="#page{{page_obj.number}}"  hx-select="#page{{page_obj.number|add:1}}" hx-swap-oob="true" id="nextPage" hx-trigger="click once">Next</button>

  {% endif %}
</article>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{{filter_form.media}}
{% endblock %}
