{% extends 'base.html' %}
{% load i18n events l10n %}

{% block title %}{{event.title}} | we-are-the-99.ch{% endblock %}

{% block page_content %}
<article class="event detail">
  <div class="eventDescription">
    <h2>
      <a href="{% url 'external_events:event_detail' event.pk %}" >{{event.title}}</a>
    </h2>
    <div class="event-info">
      <div class="event-time">
        {{event.start_date}} - {{event.end_date}}
      </div>
      {% if event.address %}
      <div class="event-address">
        <a href="{{event.map_url}}" target="_blank">
          {{event.address}}
        </a>
      </div>
      {% endif %}
    </div>
    <div class="event-content">
      {{event.description | safe }}
    </div>

    {% if event.url %}
    <div class="event-link">
      <a href="{{event.url}}" target="_blank">{{event.url|truncatechars:40}}</a>
    </div>
    {% endif %}

    <a href="{% url 'external_events:event_list' %}" class="button">
      {% trans 'All events' %}
    </a>
    <a href="{% url 'events:event_detail' event.pk %}" class="button">
      {% trans 'Event admin' %}
    </a>
  </div>
  <div class="eventImage">
    {% if event.address %}
    <a href="{{event.map_url}}" target="_blank">
      <img src="{{event|staticmap:"600x400"}}" />
    </a>
    {% endif %}
    {% if event.image %}
      <img src="{{event.image.preview}}" />
    {% endif %}
    <div class="shareButtons">
      <a target="_blank" class="button" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">Facebook</a>
      <a target="_blank" class="button" href="https://api.whatsapp.com/send?text={{request.build_absolute_uri}}">Whatsapp</a>
      <a target="_blank" class="button" href="https://twitter.com/intent/tweet?url={{request.build_absolute_uri}}">Twitter</a>
    </div>
  </div>
</article>
{% endblock %}
