{% extends 'base.html' %}
{% load i18n events l10n static %}

{% block title %}{% trans 'Events' %}{% endblock %}

{% block page_content %}
<div class="filterPanel">
  <form method="get" action="" id="filterForm" action="{% url 'external_events:event_list' %}">
    <img src="{% static 'logo.png' %}" alt="{% trans 'logo' %}" class="logo" />
    {% for field in filter_form %}
    <div class="formField">
      <label>{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
    <button class="button" type="submit">Los</button>
  </form>
  <button id="toggleButton" class="button" type="button" onclick="toggleForm();">Hide</button>
</div>
<article id="eventList" class="pages">
  <div  id="page{{page_obj.number}}" class="page">
    {% for event in event_list %}
    <section class="event">
      <div class="eventDescription">
        <h2>
          <a href="{% url 'external_events:event_detail' event.pk %}" >{{event.title}}</a>
        </h2>
        <div class="event-info">
          <div class="event-time">
            {{event.start_date}} - {{event.end_date}}
          </div>
          {% if event.address %}
          <div class="event-address">
        <a href="{{event.map_url}}" target="_blank">
              {{event.address}}
            </a>
          </div>
          {% endif %}
        </div>
        <div class="event-content">
          {% if event.headline %}
          {{event.headline | safe | truncatechars_html:240}}
          {% else %}
          {{event.description | safe | truncatechars_html:240}}
          {% endif %}
        </div>

          {% if event.url %}
          <div class="event-link">
            <a href="{{event.url}}" target="_blank">{{event.url|truncatechars:40}}</a>
          </div>
          {% endif %}

        <a href="{% url 'external_events:event_detail' event.pk %}" class="button">
          {% trans 'More Information' %}
        </a>
      </div>
      <div class="eventImage">
        {% if event.address %}
        <a href="{{event.map_url}}" target="_blank">
          <img src="{{event|staticmap:"600x400"}}" />
        </a>
        {% elif event.image %}
        <a href="{% url 'external_events:event_detail' event.pk %}">
          <img src="{{event.image.preview}}" />
        </a>
        {% endif %}
      </div>
    </section>
    {% endfor %}
  </div>
  {% if page_obj.has_next %}
  <button class="button" hx-get="?{{querystring}}" hx-swap="afterend" hx-target="#page{{page_obj.number}}"  hx-select="#page{{page_obj.number|add:1}}" hx-swap-oob="true" id="nextPage" hx-trigger="click once" onclick="this.blur()">
    {% trans 'More' %}
  </button>
  {% endif %}
</article>
{% endblock %}

{% block scripts %}
{{filter_form.media}}
<script>
  function toggleForm() {
      document.querySelector('#filterForm').classList.toggle("hidden");
    }
</script>

{% endblock %}
